

.slogan {
  text-align: center;
  color: #fff;
}

.main_image {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: block;
  position: relative;
}

.scroll {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 150px;
}

.startBlock {
  height: 95vh;
  overflow: hidden;
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}
.full {
  height: 95vh;
  overflow: hidden;
}

.talk {
  width: 100%;
  height: auto;
}

.talk_text {
  font-size: 32px;
  width: 80%;
}

.subheader {
  color: #fff;
  margin-top: 100px;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.content_features {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.content_features p{
  font-size: 25px;
  margin-left: 20px;
}

.feature_icon {
  fill: #7E46A7;
  height: 50px;
  width: 50px;
}

.phone {
  width: 100%;
  height: auto;
}

.image_tabs {
  width: 100%;
  height: auto;
}

.tab_content_text {
  width: 90%;
}

.nav {
  width: 100%;
  height: auto;
  opacity: .4;
}

.nav_text {
  position: absolute;
  top: 10%;
  width: 50%;
  font-size: 40px;
  text-align: center;
}

.buy {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buy h1,.buy h2 {
  color: #000;
}

.buy img {
  width: 400px;
  height: auto;
  margin: 0 auto;
}